<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表白墙</title>
    <link rel="stylesheet" href="表白墙.css">

</head>
<body>
    <h2>表白墙</h2>
    <p id="desc">输入后点击提交,会将内容显示在表格中</p>
    <div>
        <span>谁</span>
        <input type="text" id="from">
    </div>
    <div>
        <span>对谁</span>
        <input type="text" id="to">
    </div>
    <div>
        <span>说</span>
        <input type="text" id="content">
    </div>
    <div>
        <!-- 普通按钮可以使用input type="button",也可以使用<button>标签 -->
        <!-- input显示的内容设置为value属性 -->
        <button id="submit">提交</button>
    </div>
    <p id="show"></p>
</body>
<script src="表白墙.js"></script>
</html>