<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/common.css" rel="stylesheet">
</head>
<body>
    <!-- 导航栏 -->
    <div class="nav">
        <!-- 左边 -->
        <div class="nav-left">
            <img src="img/logo2.jpg">
            <span>我的博客系统</span>
        </div>
        <!-- 右边 -->
        <div class="nav-right">
            <a href="blog_list.html">主页</a>
            <a href="blog_edit.html">写博客</a>
            <a href="login.html">注销</a>
        </div>
    </div>

    <!-- 版心 -->
    <div class="container">
        <!-- 左边用户信息 -->
        <div class="container-left">
            <div class="card">
                <!-- 头像 -->
                <img src="img/doge.jpg">
                <h3>蒋雯雨</h3>
                <a href="www.github.com">github地址</a>
                <div class="counter">
                    <span>文章</span>
                    <span>分类</span>
                </div>
                <div class="counter">
                    <span>20</span>
                    <span>4</span>
                </div>

            </div>
        </div>
        <!-- 右边博客详情 -->
        <div class="container-right">
            <!-- 一篇文章 -->
            <div class="detail">
                <div class="title">第一篇博客</div>
                <div class="date">2021-12-30</div>
                <div class="desc">
                    <p>18日，习近平总书记在中国共产党第十九届中央纪律检查委员会第六次全体会议上发表重要讲话，深刻阐述了
                        全面从严治党取得的历史性开创性成就、产生的全方位深层次影响，对把全面从严治党向纵深推进、迎接党的
                        二十大胜利召开作出战略部署。讲话立意高远、思想深邃、内涵丰富，具有很强的政治性、指导性、针对性，
                        是推进新时代党的建设新的伟大工程的基本遵循，是纪检监察工作高质量发展的行动指南。新华社《学习进行时》
                        原创品牌栏目“讲习所”今天推出文章，为您解读。</p>
                    <p>18日，习近平总书记在十九届中央纪委六次全会上发表重要讲话，就全面从严治党作出深刻阐述。</p> 
                </div>
                
            </div>
            
    
        </div>
    </div>
</body>
</html>